.tips--nav--text , .tips--second--nav--svg{
  display: inline-block;
  text-align: center;
  padding: 1rem;
}
.tips--nav--text a{
  color: black;
}
.tips--second--nav--svg{
  position: relative;
  display: inline-block;
  cursor: pointer;

}

/* review section  nav--section search boxbar start here*/
.review--nav-searchbox{
  
  
  width: 500px;
  height: 48px;
  margin-top: 10px;
  border-radius: 25px;
  margin-left: 19px;
  margin-bottom: 15px;
  
  border-width:0.3px ;
  box-shadow: 1px 3px  7px gray;

}
.review--nav-searchbox::placeholder{
  font-size: 25px;
 padding-left: 20px;
}
@media(max-width:1324px){
  .right-icon-name{
    display: none;
  }
}
@media(max-width:1100px){
  .right-icon-name{
    display: none;
  }
  .right-section-icon{
    display: none;
  }
  .review--nav-searchbox{
    width: 400px;
    margin-right:100px ;
   
  }

}
@media(max-width:768px){
  .review--nav-searchbox{
   width: 350px;
    height: 30px;
    border-radius: 10px ;
    margin-right: 60px;
   
   
  }
  .review--nav-searchbox::placeholder{
    font-size: 12px;
   padding-left: 20px;
  }

}
/* review section  nav--section search boxbar ends here*/
/*dropdown start here*/
.tips--dropdown--content{
  display: none;
  position: absolute;

  box-shadow: 2px 5px 15px 0px;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
 
  
  

 
}
.tips--second--nav--svg:hover .tips--dropdown--content{
  display: block;
}
.tips--dropdown--content  a{
  display: block;
  padding: 12px 16px;
  color: gray;
  
  background-color:#ffffff;
}
.tips--dropdown--content a:hover{
  background-color: rgb(219, 214, 214);
  color:  black;
  font-weight: 600;

}
/*dropdown ends here*/
/*nav-mobile version disable-section */
.tips--nav--section{
  display: none;
}
/*nav--section */
/*tips main title start*/
.tips--title{
  text-align: center;
  padding: 1rem;
  font-size: 50px;
}
/*tips main title start*/
/* button section styles start here*/
 .tips--btn--wrapper{
  list-style-type: none;
    display: flex;
  
    gap: 1rem;
    padding: 6rem;

 }
 .tips--button{
  padding: 1rem;
  border-radius: 1em;
  background-color: #fff;
  border: 1px solid gray;
  transition: 0.15s;

 }
 .tips--button:hover{
  background-color: black;
  color: #fff;
 }
/* button section styles ends here*/


/*tips section styles start here*/

.tips--right ,.tips--left img{
  display: none;
  
}
@media(max-width:1290px){
  
  .tips--left{
     padding: 2.5rem;
     line-height: 2em;
   

  }
  .tips--left img{
    display: block;
  }
  .tips--left img {
    width: 200px;
    
  }
  .tips--section--heading{
    padding: 1em;
    font-size: 20px;
  }
  .tips--section--des{
    padding-left: 1.6em;
    
  
    color: gray;
    font-size: 0.9rem;
   
  }
  .tips--section--btn{
    padding: 1.4em;
  
    text-align: center;
  
  
   
  }
  .btn{
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    
   
   
   

  }
  .btn:hover{
    text-decoration: underline;
    cursor: pointer;
    
  }
  .primary--btn{
    text-align: center;
    padding: 0.4rem;
    background-color: black;
    width: 100%;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    
  

  }

}
@media(min-width:1290px){
  .tips--main--section{
    padding-bottom: 3rem;
  }
  .tips--nav--section{
    display: block;
    color: black;

  }
  .tips--nav--section li:hover{
    font-size: 20px;
    font-weight: 500;
  }
  .tips--section--wrapper{
    display: flex;
    gap: 8rem;
    align-items: center;
    margin: 0 auto;
    padding-left: 9rem;
  }
  .tips--left{
    flex: 4;
  }
  .tips--section--heading{
    padding: 1.1em;
    font-size: 1.3rem;
  }
  .tips--section--des{
    color: gray;
    
    padding: 1em;
  }
  .tips--right {
    display: block;
    flex: 3;
  }
  .btn{
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    text-decoration: underline;
    transition: 0.15s;
    width: 90px;
    
   
   
   

  }
  .btn:hover{
    color: red;
   

  }
  .primary--btn{
    text-align: center;
    padding: 0.4rem;
    background-color: black;
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0.9rem;
    border-radius: 20px

  }
  
   

}
/*tips section styles start here*/


